# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
frontend/.next/
frontend/out/
frontend/build/

# Production builds
backend/dist/
backend/build/

# Environment variables
.env
.env.*
**/.env
**/.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Prisma
backend/prisma/*.db
backend/prisma/*.db-journal
